<br clear="all" /><br /><!-- br for IE compatibility. it just ignores the margin. -->
<div id="footer" class="box">
	<div class="box1">
Credits: &copy;{$smarty.now|date_format:"%Y"} by {$blogname}<br /> 		
<!-- don't think about removing or rel="nofollow"ing these links. you will lose your license and worst of all, our friendship. these are the people who made your fine blog and template for free, so give them the credits they reserve! -->
Powered by <a href="http://www.bblog.com">bBlog</a> | template by <a href="http://www.pixelpope.com">Pixelpope</a>, inspired by <a href="http://www.designmadeingermany.de" title="Design made in Germany">dmig</a>
<!-- don't think about removing or rel="nofollow"ing these links. you will lose your license and worst of all, our friendship. these are the people who made your fine blog and template for free, so give them the credits they reserve! -->
	</div>

</div><!-- #footer .box-->
</div><!-- #paper-->

</body>
</html>
