<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html" />
    <title>dmig | a template for bBlog</title>
    <meta name="description" content="Some words about this blog" />
    <meta name="keywords" content="work,life,play,web design" />
    <link rel="stylesheet" type="text/css" href="dmig.css" />
</head>

<body>
	
<div id="paper">	
	<div id="banner" class="box">
		<div class="box1">	
    	<h1 class="logo"><a href="#">dmig</a></h1>&nbsp;/ <span class="description">a cool template for bBlog</span>
		</div><!-- .box1-->
	</div><!-- #banner -->

	<div id="content" class="box">

	<!--	<div class="box1"> -->
			<div class="blog">



<div class="blogbody">
<div class="box1">
	<h2 class="title"><a href="#">dmig / a template for bBlog / beta version</a></h2>
</div><!-- .box1 -->	

<div class="box1" style="padding: 0px;">
	<h3 class="date">Dominic Frohlof | May 21, 2005</h3>

</div>
 
	<div class="box2">
		<p>This is a new template for the blogging software <a href="http://www.bblog.com">bBlog</a>.<br />
The design and name is a tribute to a German portal and community site called &#8220;Design made in Germany&#8221;.</p>

	<p>Unfortunetely, the site is down right now. For those who miss the site like I do, I made this template they can look at in the meantime :)</p>

	<p>This is a quote:</p>

	<blockquote>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</blockquote>

	<p>This is a list:</p>

	<ul>
	<li>the first</li>
		<li>the last</li>
		<li>eternity</li>
	</ul>

	<p>This is some computer code:</p>

<code>for (int i=0; i<10; i++){freak_out();}</code>

	</div><!-- .box2 -->
	<div class="box1">
	<div class="posted"></div>

	</div><!-- .box1 -->
</div><!-- .blogbody -->


<div class="blogbody">
<div class="box1">
	<h2 class="title"><a href="#">Installation</a></h2>
</div><!-- .box1 -->	

<div class="box1" style="padding: 0px;">
	<h3 class="date">Dominic Frohlof | May 21, 2005</h3>
</div>
 
	<div class="box2">
		<p>Installing this template to your bBlog is very easy:</p>
		<ol>
			<li>Upload the "dmig" folder by FTP to /bblog/templates/</li>
			<li>In your admin section, go to options, under templates select "dmig".</li>
			<li>Save options. You're done. :)</li>
		</ol>				
		
		<p>This is a first beta release yet. If you experience problems with this template, please check my
			<a href="http://www.pixelpope.com">homepage</a> or the <a href="http://www.bblog.com/viewtopic.php?t=1368">bBlog forum</a> for a recent release or update.
			</p>
			<p>If the problem still exists, I am happy to hear from you with detailed information, and if possible a screenshot.</p>
		
	</div><!-- .box2 -->
	<div class="box1">
	<div class="posted"></div>
	</div><!-- .box1 -->
</div><!-- .blogbody -->


<div class="blogbody">
<div class="box1">
	<h2 class="title"><a href="#">Compatibility</a></h2>
</div><!-- .box1 -->	

<div class="box1" style="padding: 0px;">
	<h3 class="date">Dominic Frohlof | May 21, 2005</h3>
</div>
 
	<div class="box2">
		<p>This template was tested on bBlog version 0.7.4 and 0.75.</p>
		<p>It has support for RTL, so for languages such as Arabic or Hebrew.</p>
		<p>It should be compatible with future versions, but it might be not.</p>

	</div><!-- .box2 -->
	<div class="box1">
	<div class="posted"></div>
	</div><!-- .box1 -->
</div><!-- .blogbody -->





</div><!-- .blog -->
<!-- </div>  .box1 -->
</div><!-- #content -->


 
<!-- side starts here -->
<div id="links" class="box">
 
<!-- calendar will mess up validity. remove it and you are xhtml transitional valid! -->	
	
		
	<div class="box1">
		<div class="sidetitle">Links</div>	
	</div><!-- .box1-->
	<div class="box2" >
			<div class="side">
				<ul><!--  remove this when updating, because links in 0.7.4/5 doesn't support mode=list -->
				<li><a href="http://www.bblog.com">bBlog</a></li>
				<li><a href="http://www.pixelpope">Pixelpope</a></li>
				</ul><!-- remove this when updating -->
			</div><!-- .side -->	
	</div><!-- .box2 -->

	
</div><!-- #links .box--><br clear="all" /><br /><!-- br for IE compatibility. it just ignores the margin. -->
<div id="footer" class="box">
	<div class="box1">
Credits: &copy;2005 by Pixelpope<br /> 		

<!-- don't think about removing or rel="nofollow"ing these links. you will lose your license and worst of all, our friendship. these are the people who made your fine blog and template for free, so give them the credits they reserve! -->
Powered by <a href="http://www.bblog.com">bBlog</a> | template by <a href="http://www.pixelpope.com">Pixelpope</a>, inspired by <a href="http://www.designmadeingermany.de" title="Design made in Germany">dmig</a>
<!-- don't think about removing or rel="nofollow"ing these links. you will lose your license and worst of all, our friendship. these are the people who made your fine blog and template for free, so give them the credits they reserve! -->
	</div>

</div><!-- #footer .box-->
</div><!-- #paper-->

</body>

</html>
<!--//
This page took 0.04607 seconds to make
and executed 6 SQL queries.
Last modified: Sat, 21 May 2005 20:26:19 GMT
Powered by bBlog : http://www.bBlog.com/
//-->